<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fitness Food Delivery Service | plumgen.com</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" media="screen and (max-width: 1170px)" href="./css/phone.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Bree+Serif&display=swap" rel="stylesheet">
</head>

<body>
    <nav id="navbar">
        <div id="logo">
            <img src="img/logo.png" alt="plungem.com">
        </div>
        <ul>
            <li class="item"><a href="/index">Home</a></li>
            <!--<li class="item"><a href="/lunch">Lunch</a></li>
            <li class="item"><a href="#client-section">Videos</a></li>-->
            <!--<li class="item"><a href="#client-section">Feedback</a></li>-->
            <li class="item"><a href="#contact">Contact Us</a></li>
        </ul>
    </nav>
    <section id="home">
        <h1 class="h-primary">Breakfast Will be launched soon....</h1>
        <!--<h6 class="h-secondary center">keeps lighter and healthier</h6>-->
        
    </section>

    <section id="contact">
        <h1 class="h-primary center">Contact Us</h1>
        <div class="center">
           <h6 class="h-secondary center">H.No. 19, Grandmark Complex, Tamando, ph: +917681054684 </h6>

        </div>
    </section>
    <section id="client-section">
        <div id="clients">

        </div>
    </section>

    <footer>
        <div class="center">
            2021 Copyright &copy; www.plungem.com. All rights reserved!
        </div>
    </footer>

</body>

</html>

