<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fitness Food Delivery Service | plumgen.com</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" media="screen and (max-width: 1170px)" href="./css/phone.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Bree+Serif&display=swap" rel="stylesheet">
</head>

<body>
    <nav id="navbar">
        <div id="logo">
            <img src="img/logo.png" alt="plungem.com">
        </div>
        <ul>
            <li class="item"><a href="/index">Home</a></li>
            <!--<li class="item"><a href="/lunch">Lunch</a></li>
            <li class="item"><a href="#client-section">Videos</a></li>-->
            <!--<li class="item"><a href="#client-section">Feedback</a></li>-->
            <li class="item"><a href="#contact">Contact Us</a></li>
        </ul>
    </nav>
    <section id="home">
        <h1 class="h-primary">Exquisite diet lunch</h1>
        <h6 class="h-secondary center">keeps lighter and healthier</h6>
        
    </section>
    <section id="services-container">
        <!--<h1 class="h-primary center">Lunch menu</h1>-->
        <div id="services">
            <div class="box">
                   
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="img/monday.png" alt="Monday" style="width:200px;height:200px;">
                            <button id="myBtn"><h2>Monday</h2></button>
                        </div>
                        <div class="flip-card-back">
                            <h1>Monday Menu</h1> 
                            <p>Rice / peas pallow / Jeera rice / Ghee rice </p>
                            <p>Dal / Dal fry / Dalma</p>  
                            <p>Paneer / Mushroom / Soya Curry</p>
                            <p>Vegetable salad / Fruit salad</p>
                                        
                        </div>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="img/tuesday.png" alt="Tuesday" style="width:200px;height:200px;">
                            <button id="myBtn"><h2>Tuesday</h2></button>
                        </div>
                        <div class="flip-card-back">
                            <h1>Tuesday Menu</h1> 
                            <p>Rice / peas pallow / Jeera rice / Ghee rice </p>
                            <p>Dal / Dal fry / Dalma</p>  
                            <p>Paneer / Mushroom / Soya Curry</p>
                            <p>Vegetable salad / Fruit salad</p>
                                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
               <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="img/wednesday.png" alt="Wednesday" style="width:200px;height:200px;">
                            <button id="myBtn"><h2>Wednesday</h2></button>
                        </div>
                        <div class="flip-card-back">
                            <h1>wednesday Menu</h1> 
                            <p>Rice / peas pallow / Jeera rice / Ghee rice </p>
                            <p>Dal / Dal fry / Dalma</p>  
                            <p>Paneer / Mushroom / Soya Curry</p>
                            <p>Vegetable salad / Fruit salad</p>
                                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
               <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="img/thursday.png" alt="Thursday" style="width:200px;height:200px;">
                            <button id="myBtn"><h2>Thursday</h2></button>
                        </div>
                        <div class="flip-card-back">
                            <h1>Thursday Menu</h1> 
                            <p>Rice / peas pallow / Jeera rice / Ghee rice </p>
                            <p>Dal / Dal fry / Dalma</p>  
                            <p>Paneer / Mushroom / Soya Curry</p>
                            <p>Vegetable salad / Fruit salad</p>
                                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="img/friday.png" alt="Friday" style="width:200px;height:200px;">
                            <button id="myBtn"><h2>Friday</h2></button>
                        </div>
                        <div class="flip-card-back">
                            <h1>Friday Menu</h1> 
                            <p>Rice / peas pallow / Jeera rice / Ghee rice </p>
                            <p>Dal / Dal fry / Dalma</p>  
                            <p>Paneer / Mushroom / Soya Curry</p>
                            <p>Vegetable salad / Fruit salad</p>
                                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
               <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="img/saturday.png" alt="Saturday" style="width:200px;height:200px;">
                            <button id="myBtn"><h2>Saturday</h2></button>
                        </div>
                        <div class="flip-card-back">
                            <h1>Saturday Menu</h1> 
                            <p>Rice / peas pallow / Jeera rice / Ghee rice </p>
                            <p>Dal / Dal fry / Dalma</p>  
                            <p>Paneer / Mushroom / Soya Curry</p>
                            <p>Vegetable salad / Fruit salad</p>
                                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
               <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="img/sunday.png" alt="Sunday" style="width:200px;height:200px;">
                            <button id="myBtn"><h2>Sunday</h2></button>
                        </div>
                        <div class="flip-card-back">
                            <h1>Sunday Menu</h1> 
                            <p>Rice / peas pallow / Jeera rice / Ghee rice </p>
                            <p>Dal / Dal fry / Dalma</p>  
                            <p>Paneer / Mushroom / Soya Curry</p>
                            <p>Vegetable salad / Fruit salad</p>
                                        
                        </div>
                    </div>
                </div>
        </div>
        <div class="box">
               <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="img/special.png" alt="Specialday" style="width:200px;height:200px;">
                            <button id="myBtn"><h2>Tomorrow Special</h2></button>
                        </div>
                        <div class="flip-card-back">
                            <h1>Tomorrow Special</h1> 
                            <p>Rice / peas pallow / Jeera rice / Ghee rice </p>
                            <p>Dal / Dal fry / Dalma</p>  
                            <p>Paneer / Mushroom / Soya Curry</p>
                            <p>Vegetable salad / Fruit salad</p>
                                        
                        </div>
                    </div>
                </div>
        </div>
       
    </section>

    <section id="client-section">
        <a class="order-btn" href="/ordernow">Order Now</a>
    </section>

    <section id="contact">
        <h1 class="h-primary center">Contact Us</h1>
        <div class="center">
             <h6 class="h-secondary center">H.No. 19, Grandmark Complex, Tamando, ph: +917681054684 </h6>

        </div>
    </section>
   <footer>
        <div class="center">
            2021 Copyright &copy; www.plungem.com. All rights reserved!
        </div>
    </footer>
    
</body>

</html>

 <!--<button id="myButton" class="float-left submit-button" >Home</button>-->

