<header>
    <h1>{{title}}</h1>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/cookbook">CookBook</a>
    <a href="/stores">Stores</a>
    <a href="/help">Help</a>
    <a href="/help">Help</a>
</header>